.page-content-tab {
    padding: 0 24px;
    > div.ant-tabs-nav {
        margin: 0;
    }
}

.app-loading-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #fff;
    opacity: 0.6;
}

.app-loading-container {
    z-index: 2147483647; // Apparently it's the highest value you can give.
}

.app-loading-spinner {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}