.table-search {
    margin-bottom: 1rem;
    background-color: #ffffff;
}

.search-input {
    border-radius: 2px;
    background-color: #F9FAFB;
    padding: 10px 15px;
    width: 300px;
    margin-bottom: 1rem;
    > span.ant-input-prefix {
        margin-right: 10px;
    }
    > input {
        background-color: inherit;
        padding: 0 5px;
        &::placeholder {
            color: #6B7280;
        }
    }
}

.search-icon {
    color: #6B7280;
    font-size: 18px;
}

.table-cell {
    min-width: 40px;
}