.custom-toaster-container {
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    &.success {
        background-color: #82cc20;
    }
    &.error {
        background-color: #eb677a;
    }
    .ant-notification-notice-message {
        font-size: 14px;
        margin: 0;
    }
}